.header {
  /*
    Sobre flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    Também conferir: https://flexboxfroggy.com/
  */
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.header_link {
  color: #8395a7;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.2s;
}

.header_link:focus,
.header_link:hover {
  color: #222f3e;
  text-decoration: underline;
}

.header_nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0;
}

/* Aplicar em todos os filhos, exceto o último... */
.header_nav > * > a:not(:last-child) {
  margin-right: 3.2rem;
}
