.login_link {
    color: #8395a7;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s;
}

.login_link:focus,
.login_link:hover {
    color: #222f3e;
    text-decoration: underline;
}
