.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center > *:not(:last-child) {
    margin-bottom: 3.2rem;
}

.recovery_description {
    text-align: justify;
    width: 32rem;
}
